@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,300,400);
@import 'variables';

// bower:scss
// endbower

#header {
  margin-bottom: 25px;
  .col-md-6:nth-child(1){
    text-align: left;
  }
  .col-md-6:nth-child(2){
    text-align: right;
  }
}

#hero {
  .col-md-6:nth-child(1) {
    padding: 20px 20px;
  }
  img {
    transform: skewX(-10deg);
  }

}

.img-border {
  width: 100%;
  margin: 20px 0;
  border: 5px solid #d9d1d1;
  border-radius: 2px;
}

dl {
  text-align: left;
  margin-bottom: 10px;
  dt {
    float: left;
    display: block;
    margin-right: 10px;
    text-align: right;
  }
  dd {
    color: gray;
  }
}

#description {
  h2 {
    color: #333;
  }
  p {
    font-weight: 300;
    color: gray;
  }
  img {
    @extend .img-border;
  }
}

#attendance {
  h2 {
    color: #333;
  }
  p {
    font-weight: 300;
    color: gray;
  }
  img {
    @extend .img-border;
  }
}

#prizes {
  h2 {
    color: #333;
  }
  p {
    font-weight: 300;
    color: gray;
  }
  img {
    padding: 20px 0;
  }
}

#agenda {
  h3 {
    padding-bottom: 20px;
  }
  padding-bottom: 20px;
}

#agenda-title {
  text-align: center;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.25em;
  font-weight: 300;
}
h2 {
  margin-bottom: 0.6em;
  font-weight: 300;
}
h3 {
  font-size: 1.85em;
  font-weight: 100;
}
sup {
  font-size: 0.6em;
  position: relative;
  top: -0.6em;
}
small {
  font-size: 0.8em;
}

p {
  font-weight: 200;
  line-height: 1.5em;
  margin-bottom: 1.8em;
}

section {
  &.tiled {
    @extend .tiled-background;
  }
  &.blackened {
    color: $footer-fg-color;
    background-color: $footer-bg-color;
  }
  &.grayed {
    background-color: $descr-bg-color;
  }
}

.footer {
  padding: 25px 0;
  img {
    opacity: 0.4;
  }
  #credit {
    color: rgba(255,255,255,0.4);
    font-size: 12px;
    line-height: 2em;
    padding-left: 10px;
    font-weight: 200;

  }
  ul.footer-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      a {
        font-size: 20px;
        padding-left: 15px;
        color: rgba(255,255,255,0.4);
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #agenda {
    .col-md-5 {
      width: 50% !important;
      float: left;
    }
  }
  #header {
    .col-md-6 {
      width: 50% !important;
      float: left;
      text-align: right;
    }
  }
  #hero, #description, #prizes, #attendance {
    img {
      display: none;
    }
  }
  #footer {
    .col-md-6 {
      text-align: center !important;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #agenda {
    .col-md-5 {
      width: 50% !important;
      float: left;
    }
  }
  #header {
    .col-md-6:nth-child(1){
      text-align: center;
      padding-bottom: 10px;
    }
    .col-md-6:nth-child(2){
      text-align: center;
    }
  }
  #hero, #description, #prizes, #attendance {
    img {
      display: none;
    }
  }
}
