// Desktop
@media screen and (min-width: 768px) {

  .container {
    max-width: 1024px;
  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  #agenda {
    .col-md-5 {
      width: 50% !important;
      float: left;
    }
  }

  #header {
    .col-md-6 {
      width: 50% !important;
      float: left;
      text-align: right;
    }
  }

  #hero, #description, #prizes, #attendance {
    img, .images-wrapper, .skew {
      display: none;
    }
  }

  #hero {
    p {
      padding: 20px 20px;
    }
  }

  .footer {
    img {
      display: none;
    }
    .col-md-6 {
      text-align: center;
      #social {
        &.pull-right {
          float: none !important;
        }
      }
    }
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #agenda {
    .col-md-5 {
      width: 50% !important;
      float: left;
    }
  }

  #header {
    .col-md-6:nth-child(1){
      text-align: center;
      padding-bottom: 10px;
    }
    .col-md-6:nth-child(2){
      text-align: center;
    }
  }

  #hero, #description, #prizes, #attendance {
    img, .images-wrapper, .skew {
      display: none;
    }
  }

  #hero, #description, #prizes, #attendance  {
    text-align: center;
  }

  #hero {
    p {
      padding: 20px 20px;
    }
  }

  #apply {
    text-align: center;
  }

  .footer {
    img, .images-wrapper {
      display: none;
    }
    .col-md-6 {
      text-align: center;
      #social {
        &.pull-right {
          float: none !important;
        }
      }
    }
  }

}
