// Sections

#header {
  margin-bottom: 25px;
  .col-md-6:nth-child(1){
    text-align: left;
  }
  .col-md-6:nth-child(2){
    text-align: right;
  }
}

#hero {
  .col-md-6:nth-child(1){
    padding: 0 15px 20px 15px;
  }

  .light-bulb {
    position: absolute;
    z-index: 1000;
    left: 155px;
    top: 20px;
  }

  .skew {
    -webkit-backface-visibility: hidden;
    -webkit-transform: skew(-10deg);
    overflow:hidden;
    width: 440px;
    height: 250px;
    position:relative;
    left: 0;
    img {
      -webkit-transform: skew(10deg);
      position:relative;
      left:-40px;
    }
  }
}

#description, #attendance {
  img {
    @extend .img-border;
  }
}

#prizes {
  img {
    padding: 20px 0;
  }
}

#agenda-title {
  text-align: center;
}

#agenda {
  padding-bottom: 20px;
  dl {
    text-align: left;
    margin-bottom: 10px;
    dt {
      float: left;
      display: block;
      margin-right: 10px;
      text-align: right;
    }
    dd {
      color: $descr-fg-color;
    }
  }
}

.footer {
  #credit {
    small {
      color: $descr-fg-color;
      padding-left: 10px;
    }
  }

  #social {
    ul {
      margin-left: 0;
      padding-left: 0;
      li {
        display: inline;
        a {
          font-size: 25px;
          padding-left: 15px;
          color: $descr-fg-color;
        }
      }
    }
  }
}
