.signup-teams {
  &.cognito {

    padding: 40px 0;

    h2 {
      font-family: 'Roboto', sans-serif;
    }

    label {
      font-family: 'Roboto', sans-serif;
      color: #fff;
      font-size: 12px;
      font-weight: 200;
    }

    input {
      font-family: 'Roboto', sans-serif;
      color: black;
      border-radius: 3px;
    }

  }
}
