@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,300,400);

body {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;

  h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 45px;
  }

  h2 {
    margin-bottom: 0.6em;
    font-weight: 300;
    font-size: 32px;
    line-height: 45px;
  }

  h3 {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
    line-height: 35px;
  }

  sup {
    font-size: 0.6em;
    position: relative;
    top: -0.6em;
  }

  small {
    font-size: 0.8em;
  }

  p {
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 1.8em;
    font-stretch: normal;
  }

  dl {
    font-size: 16px;
  }

  ol {
    li {
      font-weight: 200;
      font-size: 14px;
    }
  }

  .btn {
    font-weight: 400;
    font-size: 110%;
  }
}

