$descr-bg-color   : #ede9e9;
$descr-fg-color   : gray;
$footer-bg-color  : #332d2a;
$page-bg-color    : #fff;
$tile-img-url     : '../images/pinstripe-tile.png';
$bb-red           : #be132d;
$img-border-color : #d9d1d1;
