<div class="col-md-2"></div>
<div class="col-md-8">
  <h2>{{strip-scripts h2}}</h2>
  <p>{{strip-scripts p}}</p>
  {{#each goals}}
      <h4>{{strip-scripts title}}</h4>
      <ol>
          {{#each rules}}
             <li>{{strip-scripts this}}</li>
          {{/each}}
      </ol>
  {{/each}}
</div>
<div class="col-md-2"></div>
