<div class="col-md-6">
  <h1>{{h1}}</h1>
  <p>{{strip-scripts p}}</p>
  <a href="#apply" class="btn btn-default">
      Early bird registration until <b>1st of June</b>
  </a>
</div>
<div class="col-md-6 hidden-xs hidden-sm">
  <img class="light-bulb" src="images/light-bulb.png" />
  <div class="skew">
      <img src="{{imgSrc}}" alt="{{imgAlt}}" />
  </div>
</div>
