<div class="col-md-12">
  <h2>{{strip-scripts h2}}</h2>
  <div class="row" style="max-width: 75%; margin: auto;">
    {{#each criteria}}
    <div class="col-md-6 criteria">
      <i class="{{strip-scripts icon}}"></i>
      <h4>{{strip-scripts title}}</h4>
      <p>{{strip-scripts description}}</p>
    </div>
    {{/each}}
  </div>
</div>
